@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Lustria&display=swap');

.fontCinN{font-family: 'Cinzel Decorative', cursive; font-weight: 400;}
.fontCinB{font-family: 'Cinzel Decorative', cursive; font-weight: 700;}
.fontLust{font-family: 'Lustria', serif;}

@media only screen and (max-width: 450px){
    .cardDisplay{
        display: block!important;
        flex-direction: column!important;
    }

    .card{
        width: 95vw!important;
    }

    .card-img{
        min-width: 86vw!important;
    }

}

.cardDisplay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-body{
    width: 30vw;
    min-width: 250px;
}

.card-img{
    min-height: 300px;
    min-width: auto;
    object-fit: cover!important;
}

.cardFade{
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0, 0, 0, 0));
}

.mouseOverCursor {
    cursor: pointer;
}

.bigHover:hover {
    transform: scale(1.05);
}

.cardDark{
    background-color: #393632;
}

html,body{
    /* background-color:#a5875e; */
    background-image: linear-gradient(#a5875e,#886443);
    background-attachment: fixed;
}

#loadingPageBounce{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {margin-top: 30px;}
    50% {margin-top: 0px;}
    100% {margin-top: 30px;}
  }

  #loadingPageText{
    position: fixed;
    top: 50%;
}