.foodImg {
    height: auto;
    object-fit: fill !important;
    overflow: hidden;
    width: 100%;
}

.imgContainer {
    display: flex;
    width: 100%;
}

.backButton {
    position: fixed;
    top: 8vh;
    right: 5vw;
}

.mouseOverCursor {
    cursor: pointer;
}

.backgroundHolder {
    background-image: linear-gradient(to bottom, #f4eee3, #d4ccbc);
}

.drawALine {
    height: 1px;
    background: #4e4b47;
}

.dedsContainer {
    background-image: linear-gradient(to bottom, #b0aca1, #928e89);
    font-size: 13px;
    padding: 10px;
}

.bold {
    font-weight: 900;
}

.foodTags {
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f4eee3;
    background: #4e4b47;
    white-space: nowrap;
}

.eqAndStepsContainer {
    font-size: 15px;
}

.fontCinB {
    font-size: 18px;
}

@media only screen and (max-width: 450px) {
    .eqContainer {
        flex-wrap: wrap !important;
        display: flex !important;

    }

    .nameCatContainer {
        text-align: center;
    }

    .editByContainer{
        font-size: 12px;
        opacity: 0.4;
        text-align: end;
    }

    .reviewContainer{
        align-items: center;
    }
}

.hoverDropOpacity:hover{
    opacity: 0.5;
    cursor: pointer;
}

#reviewRating{
    border-radius: 0%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#reviewRatingSelect{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#commentReviewPost{
    border-bottom-right-radius: 0px !important;
}